<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Concesionario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="filtro" placeholder="Introduzca la marca del coche a buscar"></ion-input>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let coche of coches | async">
        <ion-col *ngIf="filtro == '' || coche.Coche_creador.first.startsWith(filtro)" size-xl="2" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-card>
            <ion-card-content>
              <ion-avatar>
                <img [src]="coche.imagen">
              </ion-avatar>
              <p>{{ coche.Coche_creador }}</p>
              <p>{{ coche.coche_modelo }}</p>
              <p>{{ coche.color }}</p>
              <p>{{ coche.transmision }}</p>
              <p>{{ coche.id }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
