// Variables para tamaños de pantalla
//Breakpoints actualizados para que se optimicen al tamaño de los dispositivos moviles actuales
$pantalla-pequeña: 320px;
$pantalla-mediana: 480px;
$pantalla-grande: 768px;
$pantalla-extra-grande: 992px;
$pantalla-extra-x2-grande: 1200px;
$pantalla-extra-x3-grande: 1600px;

// Estilos generales
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  strong {
    font-size: 20px;
    line-height: 26px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}
ion-header {
  --ion-background-color: #0e1111;
}

ion-title {
  color: #fff;
}

ion-content {
  --ion-background-color: #0e1111;
}

ion-input {
  color: #fff;
}

ion-card {
  background-color: #cac9c9;
  display: flex;
  flex-direction: column;
  // Se añade borde a las cards para un estilo mas contemporaneo
  border-radius: 30px;

  //Transición para suavizar el cambio de imagen y texto en la tarjeta al cambiar la orientacion y tamaños de pantalla
  transition:
    padding 0.3s ease,
    border-radius 0.3s ease;
}

h1 {
  color: black;
  text-decoration: underline;
}

h2 {
  color: white;
}

.cocheImagen {
  max-width: 100%;
  //Se utilizan nuevas propiedades de css avanzadas mas actuales para que la imagen se adapte al tamaño del contenedor
  object-fit: cover;
  //Normalizado extra de las imagenes para asegurarnos que se escalen correctamente en función del tamaño de la pantalla
  img {
    max-width: 100%;
    height: auto;
  }
}

button {
  font-size: 1em;
}

// Media Queries
@media only screen and (max-width: #{$pantalla-pequeña}) {
  // Estilos para pantallas muy pequeñas
  ion-card {
    padding: 3px;
    border-radius: 3px;
  }

  .cocheNombre {
    font-size: 0.9em;
  }

  .cocheCreador,
  .cocheModelo,
  .cocheColor,
  .cocheTransmision {
    font-size: 0.7em;
  }

  button {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: #{$pantalla-pequeña}) and (max-width: #{$pantalla-mediana}) {
  // Estilos para pantallas pequeñas
  ion-card {
    padding: 5px;
    border-radius: 5px;
  }

  .cocheNombre {
    font-size: 1em;
  }

  .cocheCreador,
  .cocheModelo,
  .cocheColor,
  .cocheTransmision {
    font-size: 0.8em;
  }

  button {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: #{$pantalla-mediana}) and (max-width: #{$pantalla-grande}) {
  // Estilos para pantallas medianas
  ion-card {
    padding: 8px;
  }

  .cocheNombre {
    font-size: 1.1em;
  }

  .cocheCreador,
  .cocheModelo,
  .cocheColor,
  .cocheTransmision {
    font-size: 0.9em;
  }

  button {
    font-size: 0.9em;
  }
  h2 {
    color: red;
  }
}

@media only screen and (min-width: #{$pantalla-grande}) and (max-width: #{$pantalla-extra-grande}) {
  // Estilos para pantallas grandes
  ion-card {
    padding: 10px;
  }

  .cocheNombre {
    font-size: 1.2em;
  }

  .cocheCreador,
  .cocheModelo,
  .cocheColor,
  .cocheTransmision {
    font-size: 1em;
  }

  button {
    font-size: 1em;
  }

  h2 {
    color: blue;
  }
}

@media only screen and (min-width: #{$pantalla-extra-grande}) and (max-width: #{$pantalla-extra-x2-grande}) {
  // Estilos para pantallas extra grandes
  ion-card {
    padding: 12px;
  }

  .cocheNombre {
    font-size: 1.3em;
  }

  .cocheCreador,
  .cocheModelo,
  .cocheColor,
  .cocheTransmision {
    font-size: 1.1em;
  }

  button {
    font-size: 1.1em;
  }
  h2 {
    color: green;
  }
}

@media only screen and (min-width: #{$pantalla-extra-x2-grande}) and (max-width: #{$pantalla-extra-x3-grande}) {
  // Estilos para pantallas extra, extra grandes
  ion-card {
    padding: 14px;
  }

  .cocheNombre {
    font-size: 1.4em;
  }

  .cocheCreador,
  .cocheModelo,
  .cocheColor,
  .cocheTransmision {
    font-size: 1.2em;
  }

  button {
    font-size: 1.2em;
  }
  h2 {
    color: white;
  }
}

@media only screen and (min-width: #{$pantalla-extra-x3-grande}) {
  // Estilos para pantallas extra, extra, extra grandes
  ion-card {
    padding: 16px;
  }

  .cocheNombre {
    font-size: 1.5em;
  }

  .cocheCreador,
  .cocheModelo,
  .cocheColor,
  .cocheTransmision {
    font-size: 1.3em;
  }

  button {
    font-size: 1.3em;
  }
}

//Media queries para la orientacion del dispositivo
@media screen and (orientation: portrait) {
  .cocheTransmision,
  .cocheId {
    display: none;
  }
}
//Nuevas media queries para adaptarnos a diferentes características del dispositivo como la existencia de un puntero grueso
//(es comun en dispositivos moviles)
@media screen and (pointer: coarse) {
  ion-card {
    padding: 15px;
  }
}
