#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card{
  background-color: #8c8c8c;
}

h1{
color: black;
text-decoration: underline;
}

h2{
color: white;
}

.cocheImagen {
  max-width: 100%;
}
/* Estilos para pantallas pequeñas (menor a 576px) */
@media only screen and (max-width: 575px) {
  .cocheImagen {
    max-width: 80%; /* Reducir el ancho de la imagen */
  }

  .cocheNombre {
    font-size: 1.2em;
  }
  h2{
    color: blue;
  }
}

/* Estilos para pantallas medianas (576px - 991px) */
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .cocheImagen {
    max-width: 70%; /* Reducir el ancho de la imagen */
  }

  .cocheNombre {
    font-size: 1.6em;
  }
}

/* Estilos para pantallas grandes (mayor o igual a 992px) */
@media only screen and (min-width: 992px) {
  .cocheNombre {
    font-size: 2em;
  }
}


@media screen and (orientation: portrait) {
  .cocheTransmision,
  .cocheId {
    display: none;
  }
}

@media screen and (orientation: portrait) {
}